.container{
	padding: 40px;
	margin-top: 20px;
	border: 1px;
	box-shadow: 5px 10px 20px #444; 
}

.container h2{
	text-align: center;
}

.btn-primary{
	width: 35px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}